<?xml version="1.0"?>
<config>
    <modules>
       <Coinbench_Crypto>
          <version>0.1.0</version>
       </Coinbench_Crypto>
    </modules>
    <global>
    <blocks>
        <crypto>
            <class>Coinbench_Crypto_Block</class>
        </crypto>
    </blocks>
        <models>
            <crypto>
                <class>Coinbench_Crypto_Model</class>
         	<resourceModel>crypto_mysql4</resourceModel>
            </crypto>
       	 <crypto_mysql4>
           	<class>Coinbench_Crypto_Model_Mysql4</class>  
            	<entities>
                	<transaction>
                    		<table>coinbench_crypto_transactions</table>
                	</transaction>	
                	<address>
                    		<table>coinbench_crypto_transactions</table>
                	</address>				
            	</entities>                 
         </crypto_mysql4>
        </models>
        <resources>
            <crypto_setup>
                <setup>
                    <module>Coinbench_Crypto</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crypto_setup>
            <crypto_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </crypto_write>
            <crypto_read>
               <connection>
                <use>core_read</use>
              </connection>
            </crypto_read>
        </resources>
        <blocks>
            <crypto>
                <class>Coinbench_Crypto_Block</class>
            </crypto>
        </blocks>
        <helpers>
            <crypto>
                <class>Coinbench_Crypto_Helper</class>
            </crypto>  
        </helpers>
        <fieldsets>
             <sales_convert_quote_payment>
                <crypto_currency>
                    <to_order_payment>*</to_order_payment>
                </crypto_currency>
                <crypto_amount>
                    <to_order_payment>*</to_order_payment>
                </crypto_amount>
             </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <crypto>
                <use>standard</use>
                <args>
                    <module>Coinbench</module>
                    <frontName>crypto</frontName>
                </args>
            </crypto>
        </routers>
    <layout>
        <updates>
            <coinbench_crypto module="Coinbench_Crypto">
                <file>coinbench.xml</file>
            </coinbench_crypto>
        </updates>
    </layout>
         <events>
            <sales_order_save_commit_after>
                <observers>
                   <Coinbench_Crypto_Model_Observer>
                      <type>singleton</type>
                      <class>Coinbench_Crypto_Model_Transaction_Observer</class>
                      <method>assignAddress</method>
                   </Coinbench_Crypto_Model_Observer>
               </observers>
            </sales_order_save_commit_after>
        </events>
    </frontend>
    <default>
        <payment>
            <crypto>
                <active>0</active>
                <model>crypto/paymentMethod</model>
                <order_status>pending</order_status>
                <title>Bitcoin, Feathercoin or Litecoin</title>
                <allowspecific>0</allowspecific>
            </crypto>
         </payment>
    </default>
</config>
